{% extends "base_element.html" %}
{% load static %}

{% block css-include %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/method.css' %}"/>
{% endblock %}

{% block content %}
    <header>{{ method.name }}</header>
    <div id="description">{{ method.description }}</div>
    {% if method.visual_description %}
    <div id="visual-description">
        <img src="{{ method.visual_description.url }}"/>
    </div>
    {% endif %}
{# TODO: add fancy things like in how many papers used, where performs good, etc. #}
{% endblock content %}
