{% extends "base_element.html" %}
{% load static %}

{% block css-include %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/paper.css' %}"/>
{% endblock %}

{% block content %}
    <header>{{ paper.title }}</header>
    <div id="info">
        {% for author in paper.authors.all %}
            {{ author.name }}{%if not forloop.last%},{%endif%}
        {% endfor %} ({{ paper.conference.short_title }},
                      {{ paper.date_published }}), 10 cites, 3 links</div>
    {# TODO: automatic cites and links determination #}
    <table id="content">
        <tr class="content-row">
            <td class="elem-header">Problem</td>
            <td class="elem-text">{{ paper.problem }}</td>
        </tr>
        <tr class="content-row">
            <td class="elem-header">Type</td>
            <td class="elem-text">{{ paper.get_type_display }}.</td>
        </tr>
        <tr class="content-row">
            <td class="elem-header">Solution</td>
            <td class="elem-text">{{ paper.solution }}</td><!-- TODO: justify with carry-over text? -->
        </tr>
        <tr class="content-row">
            <td class="elem-header">Methods</td>
            <td class="elem-text">
                {% for method in methods %}
                    <a href="{% url "elements:method" method.id %}">{{ method.short_title }}</a>{%if not forloop.last%},{%endif%}
                {% endfor %}
            </td>
        </tr>
        <tr class="content-row">
            <td class="elem-header">Results</td>
            <td class="elem-text">
                <a href="#0">QUASAR-T</a> (<a href="#0">precision</a>, <a href="#0">recall</a>).
                <a href="#1">MF-e</a> (0.20, 0.43),
                <a href="#2">MF-i</a> (0.50, 0.32),
                <a href="#3">Richardson et al., 2013/SW</a> (0.93, 0.99),
                <a href="#4">Richardson et al., 2013/SW+D</a> (0.61, 0.41)
                <br/><br/> <!-- TODO: make it with margin/padding -->
                <a href="#0">QUASAR-S</a> (<a href="#0">precision</a>, <a href="#0">recall</a>).
                <a href="#1">MF-e</a> (0.20, 0.43),
                <a href="#2">MF-i</a> (0.50, 0.32),
                <a href="#3">Richardson et al., 2013/SW</a> (0.92, 0.99),
                <a href="#4">Richardson et al., 2013/SW+D</a> (0.69, 0.41)
            </td>
        </tr>
    </table>
    <footer>
        <a href="{{ paper.text_url }}">url</a>,
        <a href="{{ paper.code_url }}">code</a>
{# TODO: project url, make code url optional #}
    </footer>
{% endblock content %}
