{% extends "base_element.html" %}
{% load static %}
{% load internal_links %}


{% block css-include %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/paper.css' %}"/>
{% endblock %}

{% block js-include %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/paper.js' %}"></script>
{% endblock %}

{% block content %}
    <header>{{ paper.title }}</header>
    <div id="info">
        {% for author in authors %}
            {{ author.name }}{%if not forloop.last%},{%endif%}
        {% endfor %} ({{ paper.conference.short_name }},
                      {{ paper.date_published }}), x cites, y links</div>
    {# TODO: automatic cites and links determination #}
    <table id="content">
        <tr class="content-row">
            <td class="elem-header">Problem</td>
            <td class="elem-text">{{ paper.problem|internal_links }}</td>
        </tr>
        <tr class="content-row">
            <td class="elem-header">Type</td>
            <td class="elem-text">
                {% for type in paper.types.all %}
                    <a href="{% url "elements:paper_type" type.id %}">
                        {{ type.name }}</a>{%if not forloop.last%},{% else %}.{%endif%}
                {% endfor %}
            </td>
        </tr>
        <tr class="content-row">
            <td class="elem-header">Solution</td>
            <td class="elem-text">{{ paper.solution|internal_links }}</td><!-- TODO: justify with carry-over text? -->
        </tr>
        <tr class="content-row">
            <td class="elem-header">Methods</td>
            <td class="elem-text">
                {% for method in methods %}
                    <a href="{% url "elements:method" method.id %}">
                        {{ method.short_name }}</a>{%if not forloop.last%},{%endif%}
                {% endfor %}
            </td>
        </tr>
        <tr class="content-row">
            <td class="elem-header">Quantitative results</td>
            <td class="elem-text">
            {% for dataset, results_tuple in value_results.items %}
                <table class="dataset-results">
                    <tr class="dataset-name-row">
                        <td colspan="3">
                            <a href="{% url "elements:dataset" dataset.id %}">
                                {{ dataset.name }}
                            </a>
                        </td>
                    </tr>
                    <tr class="metrics-row">
                        <td></td>
                        {% for metric in results_tuple.0 %}
                        <td>
                            <a href="{% url "elements:metric" metric.id %}">
                                {{ metric.name }}
                            </a>
                        </td>
                        {% endfor %}
                    </tr>
                {% for result_row in results_tuple.1 %}
                    <tr class="result-row">
                        <td>
                            <a class="result-name" href="{% url "elements:method" result_row.0.id %}">
                                {{ result_row.0.short_name }}
                            </a>

                        </td>
                    {% for value, configuration in result_row|slice:"1:" %}
                        <td class="value-container" id="value-{{ dataset.name }}-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}">
                            <div class="result-value">{{ value }}</div>
                            <div id="config-{{ dataset.name }}-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" class="result-config">
                                {{ configuration|internal_links }}
                            </div>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            {% endfor %}
            </td>
        </tr>
        <tr class="content-row">
            <td class="elem-header">Qualitative results</td>
            <td class="elem-text">
            {% for result in text_results %}
                <a href="{% url "elements:text_result" result.id %}">
                    {{ result.short_description }}</a>{%if not forloop.last%},{%endif%}
            {% endfor %}
            </td>
        </tr>

        <tr class="content-row">
            <td class="elem-header">Extends</td>
            <td class="elem-text">
            {% for link in links_to_current %}
                <div class="link">
                    <a href="{% url "elements:paper" link.src_paper.id %}">
                        {{ link.src_paper.title }}
                    </a> as
                    <a href="{% url "elements:link_type" link.type.id %}">
                        {{ link.type.name }}
                    </a>
                </div>
            {% endfor %}
            </td>
        </tr>
        <tr class="content-row">
            <td class="elem-header">Extended by</td>
            <td class="elem-text">
            {% for link in links_from_current %}
                <div class="link">
                    <a href="{% url "elements:paper" link.dst_paper.id %}">
                        {{ link.dst_paper.title }}
                    </a> as
                    <a href="{% url "elements:link_type" link.type.id %}">
                        {{ link.type.name }}
                    </a>
                </div>

            {% endfor %}
            </td>
        </tr>
    </table>
    <footer>
        <a href="{{ paper.text_url }}">url</a>,
        <a href="{{ paper.code_url }}">code</a>
{# TODO: project url, make code url optional #}
    </footer>
{% endblock content %}
