#element {
  padding-bottom: 15px;
}
#element header {
  font-size: 26px;
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
#element #content {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  border-collapse: collapse;
}
#element #info {
  font-size: 18px;
  width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#element .elem-header {
  font-weight: bold;
  text-align: right;
  border-right: 1px solid black;
  padding-right: 10px;
  width: 110px;
}
#element .elem-text {
  padding-left: 10px;
}
#element .content-row td {
  padding-bottom: 25px;
}
#element .element {
  display: flex;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
}
#element footer {
  text-align: right;
  margin-right: 30px;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 0px;
}
#element .dataset-results {
  border-collapse: collapse;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
#element .dataset-results td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  padding: 5px;
}
#element .link {
  padding-bottom: 5px;
}
