{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base_element.css' %}"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
    {% block css-include %} {% endblock %}
    <title>Science map</title>
</head>
<body>
    <div id="element">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
